html {
  width: 100%;
  height: 100%;
}
body {
  background: radial-gradient(rgb(255, 255, 255), rgba(0, 140, 255, 0.219));
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  line-height: 1.7;
  font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'Noto Sans Japanese', Osaka, 'ＭＳ Ｐゴシッ
ク', 'MS PGothic', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

$tiber: #09383E;
